<header>
    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="white" class="bi bi-view-list" viewBox="0 0 16 16">
        <path d="M3 4.5h10a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-3a2 2 0 0 1 2-2zm0 1a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1H3zM1 2a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13A.5.5 0 0 1 1 2zm0 12a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13A.5.5 0 0 1 1 14z"/>
      </svg>
    <img src="assets/img/shoeslogo.png" alt="" class="logo" [routerLink]="['/main']" routerLinkActive="router-link-active" >
    <nav class="navbar">
        <ul>
            <li [routerLink]="['/main']" routerLinkActive="active" >მთავარი</li>
            <li [routerLink]="['/man']" routerLinkActive="active" >კაცი</li>
            <li [routerLink]="['/woman']" routerLinkActive="active" >ქალი</li>
            <li [routerLink]="['/child']" routerLinkActive="active" >ბავშვი</li>
            <li [routerLink]="['/about']" routerLinkActive="active" >ჩვენს შესახებ</li>
        </ul>
    </nav>
    <button type="button" class="btn btn-outline-success"><p>შესვლა</p>
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="white" class="bi bi-person-circle" viewBox="0 0 18 18">
            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
          </svg>
    </button>
</header>
<router-outlet></router-outlet>