$gradiantbgcolor: rgba(0, 0, 0, 0.808);

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    box-shadow: 0px 0px 10px 2px;
    background: $gradiantbgcolor;
    .logo{
        height: 10vh;
        cursor: pointer;
    }
    .navbar{
        display: flex;
        justify-content: center;
        padding: 0;
        margin: 0;
        height: 10vh;
        ul{
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            cursor: pointer;
            li{
                list-style: none;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 10vw;
                height: 10vh;
                transition: 0.5s;
                font-weight: bold;
                color: white;
                &.active{
                    background-color: green;
                    color: rgb(255, 255, 255);
                }
                &:hover{
                    background: rgb(187, 187, 187);
                    color: black;
                }
            }
        }
    }
    .btn-outline-success{
        display: flex;
        justify-content: space-between;
        text-align: center;
        width: 7rem;
        height: 2.5rem;
        p{
            color: white;
        }
    }
    .bi-view-list{
        display: none;
    }
}

@media only screen and (max-width: 1030px) {
    header{
        .navbar{
        display: none;
        }
        .btn-outline-success{
            width: 2.5rem;
            .bi-view-list{
                display: flex;
            }
            p{
                display: none;
            }
        }
    }
}