<div class="container mt-3">
    <div class="detailbox" *ngFor="let detail of details">
        <div class="imagebox">
            <img class="mainimg" [src]="detail.img" alt="">
        </div>
        <div class="alldetail">
            <div class="detailtextbox">
                <h3>{{detail.model}}</h3>
                <h5>გამოშვების წელი: {{detail.year}}</h5>
                <h5>ღირებულება: {{detail.price}}ლარი</h5>
                <div class="sizebox">
                    <h5>ზომა</h5>
                    <button class="size" *ngFor="let size of detail.size">{{size}}</button>
                </div>
            </div>
            <div>
                <h5>რაოდენობა</h5>
                <div class="quantity">
                    <button (click)="minusCount()" type="button" class="btnCoutn">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="white" class="bi bi-dash" viewBox="0 0 16 16">
                            <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"/>
                          </svg>
                    </button>
                    <input class="quantityinput" type="text" [value]="count">
                    <button  (click)="plusCount()" type="button" class="btnCoutn">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="white" class="bi bi-plus" viewBox="0 0 16 16">
                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                          </svg>
                    </button>
                </div>
            </div>
            <button type="button" class="btn btn-outline-light">კალათში დამატება</button>
        </div>
    </div>