$gradiantbgcolor: rgba(0, 0, 0, 0.808);
$gradiantgray: rgba(221, 221, 221, 0.322);
$enFont: 'Cinzel', serif;
$geoFont: "BPG ExtraSquare Mtavruli", sans-serif;

@mixin boxBorder {
    background: $gradiantgray;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 5px 1px white;
}

.container{
    display: flex;
    justify-content: space-around;
    .detailbox{
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 1rem;
        width: 80vw;
        height: 80vh;
        background: $gradiantbgcolor;
        border-radius: 0.5rem;
        box-shadow: 0px 0px 15px 1px white;
        .imagebox{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            width: 21rem;
            height: 26rem;
            @include boxBorder;
            .mainimg{
                width: 19rem;
                height: 23rem;
                transition: 0.5s;
                cursor: pointer;
                &:hover{
                    width: 21rem;
                    height: 26rem;
                    @include boxBorder;
                }
            }
        }
        .alldetail{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            color: white;
            padding: 1rem;
            width: 30rem;
            height: 25rem;
            .detailtextbox{
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                height: 13rem;
                h3{
                    font-family: $enFont;
                }
                h5{
                    font-family: $geoFont;
                }
                .size{
                    border-radius: 5rem;
                    margin-right: 0.2rem;
                    width: 2.5rem;
                    height: 2.5rem;
                    border: solid 1px white;
                    background: rgb(0, 0, 0);
                    color: white;
                }
            }
            h5{
                font-family: $geoFont;
            }
            .quantity{
                display: flex;
                justify-content: space-around;
                width: 11rem;
                .quantityinput{
                    outline: none;
                    text-align: center;
                    width: 5rem;
                }
                .btnCoutn{
                    width: 2.5rem;
                    height: 2.5rem;
                    background: rgba(0, 0, 0, 0);
                    &:first-child{
                        border: solid 2px rgb(122, 0, 0);
                        border-radius: 0.5rem 0 0 0.5rem;
                        &:hover{
                            background: red;
                            box-shadow: 0 0 5px 2px rgb(122, 0, 0);
                        }
                    }
                    &:last-child{
                        border: solid 2px rgb(0, 83, 0);
                        border-radius: 0 0.5rem 0.5rem 0;
                        &:hover{
                            background: green;
                            box-shadow: 0 0 5px 2px rgb(0, 83, 0);
                        }
                    }
                }
            }
            .btn-outline-light{
                font-family: $geoFont;;
            }
        }
    }
}
